<form method="post" action="/job/{{ job.id }}/apply" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">姓名</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">邮箱</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">学校</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="school" required>
  </div>

  <div class="form-group">
      <label for="personal_statement">个人简介·:</label>
      <textarea class="form-control" id="personal_statement" name="personal_statement" rows="4" required></textarea>
  </div>

   <div class="form-group">
    <label for="exampleFormControlFile1">上传简历文件</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
  </div>

<!--  <div class="form-group form-check">-->
<!--    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="terms">-->
<!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--  </div>-->

  <button type="submit" class="btn btn-primary btn-block">apply</button>
</form>
