<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        h1{
            font-size: 40px;
            font-family: Roboto;
            font-weight:normal;
            color: #008080;
            text-align: center;
        }
        #banner{
            width: 100%;
            height: 360px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <h1>~~~~~~~</h1>
    <img id="bannner" src="templates/static/home.jpg">
    <h2>----------</h2>
    <p>
    -------------------------------------------
    -----------
    ------------
    </p>
    <h2>-------</h2>
    <p>all jobs</p>
    <button>contact us</button>
</body>
</html>