<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
<!--    /* boostrap */-->
    {% include 'bootstrap.html' %}

</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        {% include'banner.html' %}
        <h2 class="text-center" style="color: #008080;">welcome to our website</h2>
        <div class="row">
            <div class="col-md-6">
                <p style="font-size: 20px;">
            <!-- 网站介绍-->
                We are dedicated to providing the best services to our customers. Our team is comprised of industry experts who are passionate about delivering innovative solutions tailored to your needs.
    We believe in maintaining high standards of quality and integrity in all our operations.
    Whether you are looking for cutting-edge technology, professional advice, or customer support, we are here to assist you every step of the way.
    Explore our diverse range of services and discover how we can help you achieve your goals.
    Thank you for visiting us, and we look forward to serving you!
                </p>
            </div>
            <div class="col-md-6">
                <img src="/static/work.jpg" style="width: 100%; height: 300px; object-fit: cover; margin-bottom: 20px;">
            </div>
        </div>
        <h2 class="text-center" style="color: #008080;">open positions</h2>
        <div>
            <!-- 职位介绍-->
            {% for job in jobs %}
            {% include 'job_items.html' %}
            {% endfor %}

        </div>
        <div class="mt-5">
            <a href="/mail_form" class="btn btn-primary btn-block">Contact us</a>
        </div>
    </div>
    {% include 'footer.html' %}

</body>
</html>